
/* Mapa box style */
.my-modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}
.my-modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s
}

.my-modal-head {
  display: flex;
  justify-content: space-between;
  padding: 2px 16px;
  background-color: #152362f8;
  color: white;
}
.my-modal-main {padding: 2px 16px;}
.my-modal-foot {
  padding: 2px 16px;
  background-color: #152362f8;
  color: #ffffff;
}

/* add animation effects */
@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

/* close button style */
.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
.close:hover, .close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}







.distance-container{
  display: grid;
  height: 500px;
  margin-top: 50px;
  width: 100%;
  grid-template: repeat(9,1fr) / 50px  1fr  1fr   30px   1fr  1fr    50px ;
  grid-template-areas: " .  subitem_1   subitem_2   .  subitem_3   subitem_4   . "
                       "  .   .    subitem_5   .     .     .               ."
                      "  .     .     .      .     subitem_7    subitem_7    .";
  margin-bottom: 2rem;
}
.item{
  
  font-weight: bold;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.subitem_1{
  font-size: 2rem;
  grid-area: subitem_1;
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid 0;
  border-radius: 10px;
  box-shadow: 1px 1px 5px 0px rgba(30, 30, 30, 0.5),1px 1px 4px 0px rgba(30, 30, 30, 0.1);
}
.subitem_2{
  grid-area: subitem_2;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.subitem_3{
  grid-area: subitem_3;
  display: flex;
  justify-content:flex-end   ;
  align-items: flex-end;
}
.subitem_4{
  grid-area: subitem_5;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.subitem_5{
  grid-area: subitem_4;
  display: flex;
  padding-left: 15px;
  justify-content: flex-start;
  align-items: flex-end;
}
.item:nth-of-type(6){
  grid-row-start: 3;
  grid-row-end: 10;
  grid-column-start: 2;
  grid-column-end: 4;

}
.subitem_6 img{
  height: 100%;
  width: 100%;
}
.item:nth-of-type(7){
  grid-column-start: 5;
  background: blue;
  color: white;
  grid-column-end: 7;
  grid-row-start: 3;
  grid-row-end: 4;
  display: flex;
  align-items: center;
  justify-content: center;
}
.item:nth-of-type(8){
  grid-column-start: 5;
  grid-column-end: 6;
  grid-row-start: 4;
  grid-row-end: 5;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f8f8f8;
}
.item:nth-of-type(9){
  grid-column-start: 6;
  grid-column-end: 7;
  grid-row-start: 4;
  grid-row-end: 5;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f8f8f8;
}
.item:nth-of-type(10){
  grid-column-start: 5;
  grid-column-end: 6;
  grid-row-start: 5;
  grid-row-end: 6;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f8f8f8;
}
.item:nth-of-type(11){
  grid-column-start: 6;
  grid-column-end: 7;
  grid-row-start: 5;
  grid-row-end: 6;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f8f8f8;
}
.item:nth-of-type(12){
  grid-column-start: 5;
  grid-column-end: 6;
  grid-row-start: 6;
  grid-row-end: 7;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f8f8f8;
}
.item:nth-of-type(13){
  grid-column-start: 6;
  grid-column-end: 7;
  grid-row-start: 6;
  grid-row-end: 7;
  display: flex;
  align-items: center;
  text-align: center;
  background: #f8f8f8;
}
.item:nth-of-type(14){
  grid-column-start: 5;
  grid-column-end: 6;
  grid-row-start: 7;
  grid-row-end: 8;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f8f8f8;
}
.item:nth-of-type(15){
  grid-column-start: 6;
  grid-column-end: 7;
  grid-row-start: 7;
  grid-row-end: 8;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f8f8f8;
}
.item:nth-of-type(16){
  grid-column-start: 5;
  grid-column-end: 6;
  grid-row-start: 8;
  grid-row-end: 10;
  display: flex;
  align-items: center;
  justify-content: center;
}
.item:nth-of-type(17){
  grid-column-start: 6;
  grid-column-end: 7;
  grid-row-start: 8;
  grid-row-end: 10;
  display: flex;
  align-items: center;
  justify-content: center;
}


.bill-container{
    display: grid;
    margin-top: 70px;
    height: 500px;
    width: 100%;
    
    grid-template-areas: " subitem_1         subitem_2"
                            "subitem_3   subitem_4"
                            "subitem_5   subitem_6"
                            "subitem_7   subitem_8"
                            "subitem_9    subitem_10";
}

.val_item{
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background:#f8f8f8;
    padding: 0.5rem;
}
.val_subitem_1{
    grid-area: subitem_1;
    
    display: flex;
    align-items: center;
    justify-content: start;
}
.val_subitem_2{
    grid-area: subitem_2;
    display: flex;
    align-items: center;
    justify-content: center;

}
.val_subitem_3{
    grid-area: subitem_3;
    display: flex;
    align-items: center;
    justify-content: start;
}
.val_subitem_4{
    grid-area: subitem_4;
    display: flex;
    align-items: center;
    justify-content: center;
}
.val_subitem_5{
    grid-area: subitem_5;
    display: flex;
    align-items: center;
    justify-content: start;
}
.val_subitem_6{
    grid-area: subitem_6;
    display: flex;
    align-items: center;
    justify-content: center;
}
.val_subitem_7{
    grid-area: subitem_7;
    display: flex;
    align-items: center;
    justify-content: start;
}
.val_subitem_8{
    grid-area: subitem_8;
    display: flex;
    align-items: center;
    justify-content: center;
}
.val_subitem_9{
    grid-area: subitem_9;
    display: flex;
    align-items: center;
    justify-content: start;
}
.val_subitem_10{
    grid-area: subitem_10;
    display: flex;
    align-items: center;
    justify-content: space-around;
}


.item_title{
    background-color: #3758c5;
    color: white;
    padding: 0.5rem;
}


.close-map{
  cursor: pointer;
}